@import "//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css";

$size: 64px;
$margin: 5px;

* {
  box-sizing: border-box;
}

@mixin clearfix {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

@mixin block {
  height: $size;
  width: $size;

  display: inline-block;
}

body {
  width: 100%;
  height: 100%;
}

ul {
  $width: $size * 2 + $margin * 4;
  $negative-margin: $width * -0.5;

  margin-left: $negative-margin;
  margin-top: $negative-margin;
  padding: 0;
  width: $width;

  position: absolute;
  top: 50%;
  left: 50%;

  clear: both;

  list-style: none;

  @include clearfix;
}

li {
  @include block;

  margin: $margin;

  float: left;

  &:nth-child(3) {
    clear: left;
  }
}

a {
  @include block;

  background-size: 100%;

  @each $network in facebook, twitter, linkedin, xing {
    &.#{$network} {
      background-image: url("../images/shadow/#{$network}.png");
    }
  }
}

