@import "//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css";
@import url(bariol.css);
* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-family: "bariol_regularregular", sans-serif;
  font-weight: normal; }

h1 {
  margin: 0;
  font-size: 2.45em;
  text-align: center; }

h2 {
  margin: 0;
  font-size: 1em;
  text-align: center; }

div {
  margin-left: -111px;
  margin-top: -111px;
  width: 222px;
  position: absolute;
  top: 50%;
  left: 50%; }

ul {
  padding: 0;
  clear: both;
  list-style: none;
  *zoom: 1; }
  ul:before, ul:after {
    content: " ";
    display: table; }
  ul:after {
    clear: both; }

li {
  height: 64px;
  width: 64px;
  display: inline-block;
  margin: 5px;
  float: left; }

a {
  height: 64px;
  width: 64px;
  display: inline-block;
  background-size: 100%; }
  a.facebook {
    background-image: url("../images/flat/facebook.png"); }
  a.twitter {
    background-image: url("../images/flat/twitter.png"); }
  a.googleplus {
    background-image: url("../images/flat/googleplus.png"); }
  a.email {
    background-image: url("../images/flat/email.png"); }
  a.avatar {
    background-image: url("../images/flat/avatar.png"); }
  a.github {
    background-image: url("../images/flat/github.png"); }
  a.linkedin {
    background-image: url("../images/flat/linkedin.png"); }
  a.xing {
    background-image: url("../images/flat/xing.png"); }
  a.tumblr {
    background-image: url("../images/flat/tumblr.png"); }
